nav {
    padding-top: 16px;
    display: flex;
    margin-bottom: 16px;
    div.logo {
        margin-right: auto;
    }
    div.right-nav {
        span {
            font-weight: bold;
        }
        background-color: $white;
        border-radius: 8px;
        padding: 30px 30px;
    }
    a {
        img {
            background-color: $white;
            padding: 8px;
            border-radius: 8px;
        }
        
    }
    
}