a, abbr, acronym, address, article, aside, blockquote, body, code, dd, del, details, dfn, dialog, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, iframe, img, label, legend, li, menu, nav, object, ol, p, pre, q, section, span, summary, ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

$black: #151716;
$Gray: #727272;
$border-color: #959595;
$lighter-gray: #b4b4b4;
$background-color: #F2F2F2;
$white: #ffffff;
$primary-color: #00705C;
$secondary-color: #00bfa5;

body {
    font-family: gotham;
    background-color: $background-color;
}

div.container {
    width: 1200px;
    margin: 0 auto;
}

@font-face {
    font-family: "Gotham";
    src: url(/fonts/GothamBook.otf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Gotham";
    src: url(/fonts/GothamMedium.otf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Gotham";
    src: url(/fonts/GothamBold.otf);
    font-weight: 700;
    font-style: normal;
}

label {
    font-size: 14px;
}

input[type="text"] {
    box-sizing: border-box;
    font-family: inherit;
    width: 100%;
    height: 40px;
    margin-top: 4px;
    margin-bottom: 12px;
    padding: 0 16px;
    border: 1px solid $border-color;
    border-radius: 4px;
    appearance: none;
    &:focus {
        outline: none;
        border: 2px solid $secondary-color;
        border-radius: 4px;
    }
}


select {
    box-sizing: border-box;
    font-family: inherit;
    padding: 0 4px;
    width: 100%;
    height: 40px;
    margin-top: 4px;
    margin-bottom: 12px;
    border: 1px solid $border-color;
    border-radius: 4px;
    //appearance: none;
    &:focus {
        outline: none;
        border: 2px solid $secondary-color;
        border-radius: 4px;
    }
}


input[type="submit"] {
    background-color: $primary-color;
    color: $white;
    font-size: 14px;
    font-weight: bold;
    font-family: inherit;
    box-sizing: border-box;
    outline: none;
    border: none;
    padding: 16px 200px;
    border-radius: 400px;
}


button.primary {
    background-color: $primary-color;
    color: $white;
    font-size: 14px;
    font-weight: bold;
    font-family: inherit;
    box-sizing: border-box;
    outline: none;
    border: none;
    padding: 16px 200px;
    border-radius: 400px;

    &:hover {
        cursor: pointer;
    }
}
button.secondary {
    color: $black;
    font-family: inherit;
    font-size: 14px;
    font-weight: bold;
    box-sizing: border-box;
    outline: none;
    border: 1px solid $black;
    padding: 16px 143px;
    border-radius: 400px;
    &:hover {
        cursor: pointer;
    }
}