@import 'variables';
@import 'header';





// Home CSS

div.home-action {
    height: 500px;
    padding: 64px;
    border-radius: 16px;
    background-color: $white;

    a {
        text-decoration: none;
        text-align: center;
        color: $white;
        background: transparent linear-gradient(154deg, #646464 0%, #393637 100%) 0% 0% no-repeat padding-box;
        border-radius: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 220px;

        p {
            padding-top: 16px;
        }
    }

    a.new-order {
        background: transparent linear-gradient(149deg, #70D4D9 0%, #308817 100%) 0% 0% no-repeat padding-box;
        border-radius: 16px;

        &:hover {
            scale: 1.3;
        }

    }

    .action-grid {
        display: grid;
        gap: 64px;
        grid-template-columns: repeat(4, 1fr);
    }
}



//New Order CSS

div.customer-info {

    form {
        margin-bottom: 100px;
    }

    label {
        color: #646464;
        font-size: 13px;
    }

    div.forms {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
    }

    div.form-info {
        background-color: $white;
        border-radius: 8px;
        padding: 24px 44px;

        h1 {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 16px;
        }
    }

    div.items-description {
        margin-top: 24px;
        margin-bottom: 32px;
    }

    div.submit {
        text-align: center;
        margin: 0 auto;
    }
}


div.item-info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}




//Order  Preview Page CSS

div.preview-conatiner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;


    div.amount-preview {
        background-color: $white;
        border-radius: 8px;
        padding: 8px;


        .inner {
            background-color: #e6f7e6;
            padding: 16px;
            border-radius: 4px;
            border: 2px dotted $primary-color;
        }

        h2 {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 8px;
        }

        p {
            font-size: 50px;
            font-weight: bold;
            padding-bottom: 64px;
        }
    }


    div.sender-preview,
    div.receiver-preview {
        background-color: $white;
        border-radius: 8px;
        padding: 24px;


        h2 {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 16px;
        }

        span {
            display: block;
            font-size: 14px;
            color: $Gray;
            margin-bottom: 8px;
        }

        div.details-1 {
            margin-bottom: 16px;
        }


        div.sender-detail,
        div.receiver-detail,
        div.details-detail {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }

        div.details-detail {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }
    }
}


div.preview-button {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;


}




// Login css

div.center {
    text-align: center;
    background-color: $white;
    width: 512px;
    margin: 150px auto;
    padding-bottom: 70px;
    padding-left: 92px;
    padding-right: 92px;
    border-radius: 16px;

    img {
        margin-top: -50px;
        margin-bottom: 32px;
    }


    input[type="email"],
    input[type="password"] {
        box-sizing: border-box;
        font-family: inherit;
        width: 100%;
        height: 40px;
        margin-bottom: 16px;
        padding: 0 16px;
        border: 1px solid $border-color;
        border-radius: 4px;
        appearance: none;

        &:focus {
            outline: none;
            border: 2px solid $secondary-color;
            border-radius: 4px;
        }
    }

    input.login {
        margin-top: 32px;
        padding: 16px 141px;
        border-radius: 400px;
    }
}

@import 'receipt';



